## Team Payroll Efficiency Analysis (2000â€“2016)

This notebook explores how efficiently MLB teams convert payroll into on-field performance.
Using a team-season dataset combining payroll, wins, and WAR, we analyze:

- The relationship between spending, WAR, and wins
- Variation in efficiency across teams and seasons
- Which organizations consistently outperform their financial constraints

All data preparation is completed in Notebook 01.

## Load dataset

In [1]:
import pandas as pd

df = pd.read_csv("../data/processed/team_wins_payroll_war_efficiency_2000_2016.csv")

df.head()

,yearID,teamID,name,W,payroll,Batting_WAR,Pitching_WAR,Total_WAR,Dollars_per_Win,Dollars_per_WAR,WAR_per_Million,Wins_per_100M
0,2000,ANA,Anaheim Angels,82,51464167,30.250,8.410000,38.660000,6.276118e+05,1.331199e+06,0.751202,159.334164
1,2000,ARI,Arizona Diamondbacks,85,81027833,13.965,20.973333,34.938333,9.532686e+05,2.319167e+06,0.431189,104.902225
2,2000,ATL,Atlanta Braves,95,84537836,24.530,21.163333,45.693333,8.898720e+05,1.850113e+06,0.540507,112.375718
3,2000,BAL,Baltimore Orioles,74,81447435,17.065,8.560000,25.625000,1.100641e+06,3.178436e+06,0.314620,90.856145
4,2000,BOS,Boston Red Sox,85,77940333,15.940,24.290000,40.230000,9.169451e+05,1.937368e+06,0.516164,109.057784